//Chromium
    //render 86
    //paint 11
    //final 1490
//Safari
    // render 30
    // paint 15.6
    // final 963
// FF
//    final 1778
html
    head
        meta(charset="UTF-8")
        title= 'Attributes style'
    body
        div(class='container')
            - for (var i = 0; i < 5000; i++)
                div(class='box' style={width: '10%',
                    'font-family': 'Arial',
                    'box-sizing': 'border-box',
                    padding: '10px',
                    background: 'rgba(0, 71, 171, .33)',
                    display: 'inline-block'})= 'Южный Треугольник иллюстрирует далекий афелий . Это можно записать следующим образом: V = 29.8 * sqrt(2/r – 1/a) км/сек, где часовой угол прекрасно дает эксцентриситет. Соединение, на первый взгляд, потенциально. Атомное время на следующий год, когда было лунное затмение и сгорел древний храм Афины в Афинах (при эфоре Питии и афинском архонте Каллии), оценивает реликтовый ледник.'

