/*
Chromium 43
    rendering 853 ms
    painting 11 ms
    final 1333
Safari
    render 360ms
    paint 13
    final 957
*/
[class^="box-"] {
  width: 10%;
  font-family: Arial;
  box-sizing: border-box;
  padding: 10px;
  background: rgba(0,71,171,0.33);
  display: inline-block;
}
