/*
Chromium 43
    rendering 824 ms
    painting 12 ms
    final 1370
Safari
    render 37ms
    paint 350 ms
    final 1060 ms
FF
    final 1066
*/
section {
  width: 10%;
  font-family: Arial;
  box-sizing: border-box;
  padding: 10px;
  background: rgba(0,71,171,0.33);
  display: inline-block;
}
