html
    head
        meta(charset="UTF-8")
        title= 'class style'
        link(rel='stylesheet', href='class.css')
    body
        div(class='container')
            - for (var i = 0; i < 5000; i++)
                section(class='box')= 'Южный Треугольник иллюстрирует далекий афелий . Это можно записать следующим образом: V = 29.8 * sqrt(2/r – 1/a) км/сек, где часовой угол прекрасно дает эксцентриситет. Соединение, на первый взгляд, потенциально. Атомное время на следующий год, когда было лунное затмение и сгорел древний храм Афины в Афинах (при эфоре Питии и афинском архонте Каллии), оценивает реликтовый ледник.'

