html
    head
        title= 'BG'
        link(rel='stylesheet', href='background.css')
    body
        div(class='container')
            - for (var i = 0; i < 300; i++)
                div(class='row')
                    - for (var j=0; j<19; j++)
                        div(class='item item-' + j)

