/*
Chromium 43 macosx
    paint  30.82 ms
Safari macosx
    paint  60-70 ms
*/
.container {
  max-width: 100%;
  margin: 2rem auto;
  font-family: Arial;
}
.row {
  width: 100%;
  overflow: hidden;
  margin-bottom: 1rem;
}
.item {
  display: inline-block;
  height: 4rem;
  text-align: center;
  padding: 0 10px;
  box-sizing: border-box;
  width: 5.263157894736842%;
  opacity: 0.3;
}
.item-0 {
  background-color: #e1324d;
}
.item-1 {
  background-color: #de5f2c;
}
.item-2 {
  background-color: #d1a939;
}
.item-3 {
  background-color: #aecc38;
}
.item-4 {
  background-color: #79cd26;
}
.item-5 {
  background-color: #3adc20;
}
.item-6 {
  background-color: #2cc944;
}
.item-7 {
  background-color: #31c57c;
}
.item-8 {
  background-color: #35cbb5;
}
.item-9 {
  background-color: #41ccd8;
}
.item-10 {
  background-color: #3785d8;
}
.item-11 {
  background-color: #4045cf;
}
.item-12 {
  background-color: #792fda;
}
.item-13 {
  background-color: #b93ddb;
}
.item-14 {
  background-color: #ce33e0;
}
.item-15 {
  background-color: #db37a5;
}
.item-16 {
  background-color: #db2e5d;
}
.item-17 {
  background-color: #da0003;
}
.item-18 {
  background-color: #e66900;
}
